.t1{
    position: absolute;
    right: 650px;
}
.t2{
    position: absolute;
    right: 540px;
    top: 40px;

}
.c1{
    position: absolute;
    right: 1px;
    background-color: gold;
    width: 110px;
    border-radius: 9px;
    border: 1px solid gold ;
    top: 1px;
    
    
}
.c1:hover{
    background-color: blue;
    color: white;
}
.o1{
    position: absolute;
  right: 900px;
  top: 150px;
  width: 280px;          
  height: 310px;         
  
  border: 3px solid gold;
  border-radius: 10px;
  background: url(/Captura\ de\ pantalla\ 2025-11-09\ 104421.png);
  background-size: contain;     
  background-position: center;
    
}
.o2{
background: url(/Captura\ de\ pantalla\ 2025-11-09\ 104822.png);

background-position: center;
    border: 3px solid gold;
    background-size: contain;
    
    width: 310px;
    position: absolute;
    right: 550px;
    top: 150px;
    border-radius: 10px;
    height: 310px;
    
}
.o3{
    background: url(/Captura\ de\ pantalla\ 2025-11-09\ 104600.png);
    border: 3px solid gold;
    background-size: contain;
    padding: 150px;
    width: 20px;
    position: absolute;
    right: 199px;
    top: 150px;
    border-radius: 10px;
    height: 310px;
}