* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url('/Captura de pantalla 2025-05-15 020558.png') no-repeat center fixed;
  background-size: cover;
}

.text-center.my-4 {
  color: white; 
}

#btnLogin {
  width: 56px;                 
  height: 150px;               
  display: flex;
  flex-direction: column;      
  align-items: center;
  justify-content: center;
  gap: 2px;                    
  padding: 6px;
  font-size: 0;                
  align-self: start;           
}

#btnLogin span {
  display: block;
  transform: rotate(-90deg);   
  line-height: 1;
  font-size: 8px;             
  letter-spacing: 1px;         
}
.titulo_amarillo {
  background-color: rgba(252, 255, 56, 0.925);
  padding: 10px;
}
.B0 {
  color: #ffffff;
  text-align: center;
}
.B1 {
  left: 370px;
  position: relative;
  width: 200px;
  border-radius: 9px;
  background-color:#5d9bda;
  border: solid #5d9bda;
  font-weight: 700;
  color: #ffffff;
}
.B1:hover{
  transform: scale(0.98);

}
.B1:active{
  background-color: gold;
}
.R1{
  top: 364px;
  position: absolute;
  left: 480px;
  width: 295px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  border-color: gold;
  color: gold;
  border: 1px solid;
  font-size: larger;
  font-weight: 400;

  
}
.R1:hover{
  background-color: gold;
  color: black;
  border-color: gold;

}
